.pagination-table-view > .grid-pane {
	-fx-alignment: center;
}
.pagination-table-view > .grid-pane > .pagination-navigator > .hbox {
	-fx-spacing: 5.0px;
	-fx-fill-height: true;
	-fx-padding: 5px, 0px, 5px, 0px;
}
.pagination-table-view > .grid-pane > .pagination-navigator > .hbox > .page-index {
	-fx-pref-width: 55;
	-fx-alignment: center_right;
}
.pagination-table-view > .grid-pane > .pagination-navigator > .hbox > .first-page {
	-fx-graphic: url("first-page.png");
}
.pagination-table-view > .grid-pane > .pagination-navigator > .hbox > .previous-page {
	-fx-graphic: url("previous-page.png");
}
.pagination-table-view > .grid-pane > .pagination-navigator > .hbox > .next-page {
	-fx-graphic: url("next-page.png");
}
.pagination-table-view > .grid-pane > .pagination-navigator > .hbox > .last-page {
	-fx-graphic: url("last-page.png");
}